.lesson-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -40px;
  padding: 20px;
  box-sizing: border-box;
}

.lesson-header {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee6b;
}

.lesson-header h1 {
  font-size: var(--h1-font-size);
}

.header-buttons {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.content {
  margin: left;
  text-align: left;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #eee;
  padding: 10px;
}

.back-btn,
.toggle-form-btn {
  color: #3498db;
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
  font-size: var(--smaller-font-size);
}

.back-btn:hover,
.toggle-form-btn:hover {
  color: #b92929;
}

.lesson-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  text-align: center;
}

.lesson-form h2 {
  text-align: center;
  color: #3498db;
  margin-bottom: 20px;
}

.lesson-form input,
.lesson-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: var(--normal-font-size);
  display: block;
}

.lesson-form textarea {
  resize: vertical;
  min-height: 100px;
}

.save-btn {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--normal-font-size);
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.save-btn:hover {
  background-color: #219653;
}

.lesson-list {
  display: grid;
  gap: 20px;
  flex: 1;
}

.lesson-card {
  padding: 20px;
  text-align: center;
}

.lesson-card > h3 {
  font-size: var(--h3-font-size);
  color: #2c3e50;
  padding-top: 20px;
}

.lesson-card > p {
  font-size: var(--normal-font-size);
  color: #555;
  margin: 0 0 10px;
}

.lesson-card > p:last-of-type {
  padding: 20px;
}

.lesson-card .lesson-content {
  margin-top: 30px;
  text-align: left;
}

.lesson-card .lesson-content > h2 {
  margin-top: 30px;
  text-align: left;
  background: linear-gradient(90deg, #eeeeee 20%, #f9f7fd 50%, #f9f7fd 100%);
}

.lesson-card .lesson-content p {
  margin-left: 20px;
}

.lesson-card .lesson-content ol, .lesson-card .lesson-content ol {
  margin-left: 30px;
}

.lesson-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.lesson-actions > i {
  font-size: var(--smaller-font-size);
  color: #c9c9c9;
}

.edit-btn,
.delete-btn,
.undo-btn {
  color: #2980b9;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: var(--h2-font-size);
  background-color: transparent;
  margin-top: -3px;
}

.edit-btn:hover {
  color: #2937b9;
}

.delete-btn:hover {
  color: #c0392b;
}

.undo-btn:hover {
  color: #c0982b;
}

.lesson-container .pagination-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.lesson-container .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.lesson-container .pagination button,
.pagination-top button {
  color: #3498db !important;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 10px;
  font-size: var(--h2-font-size);
}

.lesson-container .pagination button:disabled,
.pagination-top button:disabled {
  color: #bdc3c7 !important;
  cursor: not-allowed;
}

.lesson-container .pagination button:hover:not(:disabled),
.pagination-top button:not(:disabled) {
  color: #2980b9 !important;
}

.lesson-container .pagination span,
.pagination-top span {
  color: #2c3e50;
  font-size: var(--smaller-font-size) !important;
}

.loading {
  text-align: center;
  font-size: var(--h3-font-size);
  color: #2c3e50;
  margin-top: 50px;
  z-index: 9999;
}

/* Quill Editor */
.ql-container {
  min-height: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ql-toolbar {
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.ql-editor {
  min-height: 500px;
  background-color: #bdc3c7;
}

.ql-align-center {
  border-bottom: none;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
  }

  .lesson-container {
    padding: 10px;
  }

  .lesson-form input,
  .lesson-form button {
    width: 100%;
    margin-bottom: 10px;
  }
}
